.container-homeClient {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  margin-bottom: 120px;
  align-items: center;
  /* width: 90%; */
}

.reservation {
  width: 90%;
  height: 94px;
  border-radius: 10px;
  border: 1px solid var(--grey-2, rgba(119, 114, 114, 0.6));
  background: var(--white, #fffbfb);
  box-shadow: -12px 6px 4px 0px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  align-self: center;
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  flex-direction: column;
}
.welcome-page {
  text-align: left;
  width: 90%;
  color: #3a3838;
  margin-top: 20px;

  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.look-coach {
  margin-top: 7px;
  font-size: 22px;

}

.day {
  text-align: left;
  width: 90%;
  color: #3A3838;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
/* font-family:'Inter'; */
font-size: 19px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.Restday {
   

    text-align: left;
    width: 90%;

    color: var(--grey-2, rgba(119, 114, 114, 0.60));
      font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.line-check {
  flex: 1;
  width: 99%;
  max-height: 7px;
  background-color: #519750;
  border-radius: 10px;
}

.rectangle-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  margin-top: 5px;
  height: 60%;
}

.text {
  color: #000;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-size: 75%;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: center;
}
.time {
  align-self: center;
  flex: 0.6;
  width: auto;
  height: 100%;
}

.detail-user {
  /* margin-left: 20px; */
  align-self: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  flex: 2;
}

.image-user {
  width: 45px;
  margin-left: 0;
  /* height: 45px;
  border-radius: 43px;
  background-size: cover;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}
.style-user-detail {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 20px;
  text-align: left;
}
.text-name {
  color: #000;
  font-size: 70%;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0;
  /* margin-top: 20px; */
}

.text-location {
  color: var(--grey-2, rgba(119, 114, 114, 0.6));
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}
.text-checkReservation {
  color: var(--grey-2, rgba(119, 114, 114, 0.6));
  font-size: 70%;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.text-pendingReservation {
  color: #d18326;
  font-size: 70%;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  
}
.line-refused {
  flex: 1;
  width: 99%;
  max-height: 7px;
  background-color: #c30c0c;
  border-radius: 10px;
}
.line-pending {
  flex: 1;
  width: 99%;
  max-height: 7px;
  background-color: #c3710c;
  border-radius: 10px;
}

.RestDayContainer {
  width: 90%;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--grey-2, rgba(119, 114, 114, 0.6));
  background: var(--white, #fffbfb);
  box-shadow: -12px 6px 4px 0px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  align-self: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
}
.rest-Day {
  display: flex;
  width: 75%;
  height: 100%;
  align-self: center;
  border-radius: 15px;
  justify-content: center;
  flex-direction: column;
  flex: 2;
  color: var(--grey-2, rgba(119, 114, 114, 0.6));
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.check-Day{
    display: flex;
    width: 75%;
    height: 100%;
    align-self: center;
    justify-content: center;
    flex: 2;
    color: #5D54A0;
    text-align: center;
      font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.see-coachs {
  color: var(--grey-1, #dcdcdc);
  text-align: center;
  /* font-family:; */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-self: center;
}

.icon {
  align-self: center;
  flex: 0.5;
  height: 100%;
  justify-content: center;
  margin-top: 60px;
}

.fromTo {
    flex: 0.7;
  display: flex;
  flex-direction: row;
  /* margin-left: 10px; */
  justify-content: center;
  align-items: center;
}
